<h1 class='name'>
	<p>Player: <%= @player.name %></p>
	<p>Assassin: <%= @player.assassin %></p>
	<p>Noobs: <%= @player.noob %></p>
</h1>
<%= link_to 'Update', edit_player_path(@player), class: 'btn btn-primary btn-sm' %> 
<%= link_to 'Back', players_path, class: 'btn btn-primary btn-sm' %>
<%= link_to 'Destroy', @player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'%>

<p class='date'>
	submitted <%= time_ago_in_words(@player.created_at) %>
</p>
